/vendor/
/application/vendor/

.idea/
.vscode/
*.swp
*.swo
*~

# PHP
.phpunit.result.cache
.phpunit.cache
phpunit.xml
coverage/
*.php~

/application/.env
.env

/application/storage/logs/*.log
/application/storage/framework/cache/data/*
/application/storage/framework/sessions/*
/application/storage/framework/views/*
!/application/storage/framework/cache/data/.gitignore
!/application/storage/framework/sessions/.gitignore
!/application/storage/framework/views/.gitignore
/application/bootstrap/cache/*
!/application/bootstrap/cache/.gitignore

node_modules/
npm-debug.log
yarn-error.log

.DS_Store
Thumbs.db


